body {
  margin: 0;
  font-family: "Proxima Nova", "Roboto Light", Arial, sans-serif,
    sans-serif, -apple-system, BlinkMacSystemFont;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ededed;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


@font-face {
  font-family: "Proxima Nova";
  src: local("Proxima Nova"),
    url("./fonts/Proxima-Nova-Font.otf") format("truetype");
}


@font-face {
  font-family: "Proxima Nova Light";
  src: local("Proxima Nova Light"),
    url("./fonts/proximanova-light.otf") format("truetype");
}

@font-face {
  font-family: "Proxima Nova Regular";
  src: local("Proxima Nova Regular"),
    url("./fonts/proximanova-regular.otf") format("truetype");
}

@font-face {
  font-family: "Proxima Nova Thin";
  src: local("Proxima Nova Thin"),
    url("./fonts/proximanova-thin.otf") format("truetype");
}

@font-face {
  font-family: "Roboto Light";
  src: local("Roboto Light"), url("./fonts/Roboto-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto Regular";
  src: local("Roboto Regular"),
    url("./fonts/Roboto-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto Thin";
  src: local("Roboto Thin"), url("./fonts/Roboto-Thin.ttf") format("truetype");
}
