.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ffe600;
  padding: 10px 20px;
  display: grid;
  grid-template-areas:
    "nav-left-top nav-center-top nav-right-top"
    "nav-left-bottom nav-center-bottom nav-right-bottom";
  grid-template-columns: 162px minmax(340px, 580px) minmax(350px, 390px);
  grid-template-rows: 40px 28px;
  -webkit-column-gap: 24px;
  -moz-column-gap: 24px;
  column-gap: 24px;
  grid-column-gap: 24px;
  row-gap: 12px;
  grid-row-gap: 12px;
  padding: 8px 10px 12px 10px;

  .navbar-logo img {
    background-repeat: no-repeat;
    overflow: hidden;
    text-indent: -999px;
    height: 34px;
    width: 134px;
    display: -webkit-flex;
    display: flex;
    position: static;
    left: 0;
  }

  .navbar-search {
    z-index: 910;
    will-change: left;
    -webkit-transition: left 0.15s ease-out;
    transition: left 0.15s ease-out;
    max-width: 720px;
    display: -webkit-flex;
    display: flex;
    width: 100%;
    height: 100%;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    position: relative;
    overflow: visible;

    input[type="text"] {
      position: relative;
      z-index: 915;
      color: #333;
      font-size: 16px;
      margin: 0;
      font-family: inherit;
      border-radius: 2px;
      background-color: #fff;
      display: -webkit-flex;
      display: flex;
      box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
      height: 40px;
      width: 100%;
      padding: 10px 60px 10px 15px;
      border-style: solid;
      border-color: rgba(0, 0, 0, 0);
      border-width: 1.5px;
    }

    button {
      position: absolute;
      z-index: 920;
      padding: 0;
      background: none;
      border: none;
      font-size: 22px;
      color: #666;
      line-height: 1em;
      border-radius: 0 2px 2px 0;
      width: 46px;
      right: 0;
      top: 0;
      bottom: 0;
      left: auto;
      background-image: none;
      height: 40px;
      cursor: pointer;
      background-color: rgba(0, 0, 0, 0);
      box-shadow: none;
    }
  }
}
