$primary-color: #fff159 ;
$primary-font-size: 16px;
$primary-font-family: "Proxima Nova Light", "Roboto Light", Arial, sans-serif, sans-serif ;
$regular-font-family: "Proxima Nova Regular", "Roboto Regular", Arial, sans-serif, sans-serif ;
$primary-font-color: #333333 ;
$primary-btn-color: #3483fa ;
$body-bg: #ededed ;

