@import "variables";
@import "mixins";

.alert-container {
  display: flex;
  justify-content: center;
  padding: 42px 40px 32px;
  @include main-container;
  @media (max-width: 768px) {
    width: 90%;
    min-height: fit-content;
    padding: 4% 4% 3%;
    font-size: 12px;
    line-height: 1.2;
  }
  img {
    width: 120px;
    margin-right: 50px;
    @media (max-width: 768px) {
      width: 80px;
      height: fit-content;
      margin-right: 2%;
    }
  }
}
