@import "variables";
@import "mixins";

.alert-container {
  display: flex;
  justify-content: center;
  padding: 42px 40px 32px;
  @include main-container;
  @media (max-width: 768px) {
    display: block;
    width: 80%;
    min-height: fit-content;
    padding: 4% 4% 3% 3%;
    line-height: 1.2;
    text-align: center;
    .alert-info{
      li{
        margin-top: 2%;
      }
    }
  }
  img {
    width: 120px;
    margin-right: 50px;
    @media (max-width: 768px) {
      width: 20%;
      height: 20%;
      margin-right: 2%;
      display: block;
      margin: auto;
    }
  }
}
