@import "variables";

.item-detail-container{
   
    .item-detail-listado {
        align-items: center;
        display: flex;
        position: absolute;
        top: 16%;
        list-style-type: none;
        font-weight: 400;
        line-height: 1.45;
        align-content: center;
        @media (max-width: 768px) {
          position: absolute;
          top: 9%;
        }
        
        .span-listado-breadcrumb {
          cursor: pointer;
          &:hover{
            color: $secondary-font-color;
          }
          &::after {
            content: "";
            display: inline-block;
            width: 1px;
            height: 12px;
            background-color: black;
            margin: 0 5px 0 5px;
            vertical-align: middle;
          }
        }
      }
      
}
