@import "variables";
@import "mixins";

.item-detail-container {
  @include main-container;

  .item-detail-info {
    width: 90%;
    display: flex;
    padding: 2%;
    @media (max-width: 768px) {
      display: inline-block;
    }
    .item-img-container {
      width: 66%;
      min-height: 500px;
      padding: 1em;
      @media (max-width: 768px) {
        width: 100%;
        min-height: fit-content;
        padding: 0%;
      }
      img {
        width: 100%;
        height: max-content;
        @media (max-width: 768px) {
          width: 100%;
          min-height: 250px;
          max-height: 500px;
          padding: 0%;
          -o-object-position: center;
          object-position: center;
        }
      }
    }
    .item-detail-info-container {
      width: 33%;
      
      @media (max-width: 768px) {
        width: 100%;
        min-height: fit-content;
      }
      h1 {
        font-size: 22px;
        line-height: 1.18;
      }
      .item-detail-info-status {
        color: rgba(0, 0, 0, 0.55);
        font-size: 14px;
        font-weight: 400;
        white-space: pre-wrap;
        span:nth-child(2) {
          margin: 0px 5px 5px;
        }
      }
      .item-detail-info-price {
        @include product-price;
      }
      button {
        @include button-styles;
        margin-top: 25%;
      }
    }
  }
  .item-detail-description {
    width: 66%;
    padding: 2%;
    @media (max-width: 768px) {
      width: 90%;
      min-height: fit-content;
    }
    h3 {
      margin-top: 7%;
      font-size: 24px;
      font-weight: 400;
      padding-bottom: 24px;
    }
    p {
      @include product-descriiption;
    }
    &::before {
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
      content: "";
      display: block;
      height: 1px;
      margin: 40px 0;
      width: 90%;
    }
  }
}
