@import "variables";


  .item-detail-listado {
    align-items: center;
    display: flex;
    list-style-type: none;
    font-weight: 400;
    line-height: 1.45;
    align-content: center;
    width: 885px;
    height: max-content;
    margin: 15px auto;
    .span-listado-breadcrumb {
      font-size: 16px;
      display: inline-flex;
      align-items: center;
      cursor: pointer;
      &:hover {
        color: $secondary-font-color;
      }
      &::after {
        content: "";
        width: 1px;
        height: 12px;
        background-color: black;
        margin: 0 5px 0 5px;
       
      }
      @media (max-width: 768px) {
        display: none;
      }
    }
  }
