@import "variables";

.navbar {
  align-items: center;
  justify-content: space-between;
  background-color: $primary-color;
  display: grid;
  grid-template-columns: 162px minmax(340px, 580px) minmax(350px, 390px);
  grid-template-rows: 40px 28px;
  column-gap: 24px;
  grid-column-gap: 24px;
  row-gap: 12px;
  padding-left: 116px;
  padding-right: 116px;
  padding-top: 8px;
  padding-bottom: 12px;
  width: auto;
  @media (max-width: 768px) {
    justify-content: center;
    display: flex;
    padding-left: 0px;
    padding-right: 0px;
    column-gap: 0px;
    grid-column-gap: 0px;
    row-gap: 0px;  
    align-items: flex-end;
  }

  .navbar-logo {
    .nav-logo-mobile {
      @media (min-width: 768px) {
        display: none;
      }
      @media (max-width: 768px) {
        height: 34px;
        width: 60px;
        margin-right: 3px;
      }
      @media (max-width: 375px) {
        display: none;
      }
    }
    .nav-logo-desktop {
      @media (min-width: 768px) {
        height: 34px;
        width: 134px;
      }
      @media (max-width: 768px) {
        display: none;
      }
    }
  }
}
