@import "variables";

.pagination-list {
  display: flex;
  list-style: none;
  justify-content: center;
  align-items: center;
  li {
    margin: 1%;
    a {
      cursor: pointer;
      &:hover {
        color: $link-font-color;
      }
      
    }
    .active-page {
      color: $visited-link-font-color;
      text-decoration: underline;
    }
  }
}
